storm.zookeeper.servers:
    - "{{ansible_local.hex.name}}-v1"

storm.local.dir: "/data/storm"

nimbus.host: "{{ansible_local.hex.name}}-v1"

supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703